// Swiper
:root {
    --swiper-theme-color: #FFF;
}

// Bootstrap
$primary: #002268;
$secondary: #FFAF43;

// Fonts
$font-primary: #262626;
$font-secondary: #FFF;
$font-tertiary: #FFAF43;
$font-link: #262626;
$font-link-hover: #FFAF43;;

// Backgrounds
$bg-primary: #FFF;
$bg-secondary: #FFAF43;
$bg-tertiary: #002268;
$bg-card-hover: #FEFEFC;